#block-ofertar, #block-agregarpeticion, #block-crearactivo{
    .field--name-field{
        text-align: center;
        &-subtitulo{
            font-size: 0.7rem;
            text-align: center;
            margin-bottom: 20px;
        }
        &-link{
            background: chartreuse;
            color: $third;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
.services-4-work{
    width: 100%;
    position: fixed;
    height: 30px;
    display: flex;
    bottom: 0px;
    background: red;
    color: $base-color;
    margin: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 0;
}

.block-views-blockpeticiones-servicio-block-1{
    .btn-success{
        margin-bottom: 20px;
    }
}