#block-views-block-mis-activos-block-1{
    display: none;
    &.active{
        display: block;
        position: fixed;
        z-index: 100;
        width: 70%;
        left: 15%;
        top: 150px;
        &::before{
            display: block;
            contain: "";
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.267);
            position: fixed;
            z-index: 99;
        }
    }
}