
#block-views-block-dashboard-block-1, .page-view-dashboard{

    .dashboard-grid{
        margin-bottom: 40px;
        & > .row{
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            justify-content: center;
            .views-row{
                width: 30%;
                border: solid 2px $primary;
                padding: 10px;
                border-radius: 10px;
                background: $third;
                box-shadow: 1px 1px 7px 0px $third;
                margin-top: 20px;
                .field--name-field-icono{
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                }
                .field--name-field-acceder{
                    background: $primary;
                    padding: 10px;
                    border-radius: 10px;
                    margin: 10px auto;
                    text-align: center;
                    a{
                        color: $base-color;
                        text-decoration: none;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
#block-views-block-dashboard-block-1{
    h2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    .closer-dash{
        color: red;
        padding: 10px;
        cursor: pointer;
        font-size: 0.8rem;
    }
    .content{
        display: none;
        &.active{
            display: block;
        }
    }
}