form{
    border: solid 2px #1a85c6;
    padding: 20px;
    border-radius: 10px;
    background: #efefef;
    margin-bottom: 40px;
    label{
        color: $primary;
        padding: 3px;
        font-size: 0.8rem;
        font-weight: bold;
    }
}


#block-views-block-ofertas-block-1{
    .views-exposed-form{
        display: none;
    }
}
#views-exposed-form-mantenimientos-recurrentes-block-1{
    display: none;
}