header{
    #navbar-main{
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0;
        background: $second;
        height: 100px;
        border-bottom: solid 2px $primary;
        @media screen and (max-width: 600px) {
            height: auto;
            padding: 10px;
        }
        .navbar-toggler{
            @media screen and (max-width: 600px) {
                background: #fff;
            }
        }
        .navbar-brand{
            max-width: 100px;
            padding: 20px;
            display: flex;
            align-items: center;
            img{
                height: 100%;
                width: auto;
                margin-right: 20px;
            }
        }
        .nav-link--user-login{
            border: solid 1px;
            margin-right: 10px;
        }
        
    }
}
.nav-link--user-register{display: none;}