#block-userlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $second;
    z-index: 200;
    top: 0;
    left: 0;
    flex-direction: column;
    label{
        color:#fff;
    }
    .list-group{
        li{
            margin: 10px;
            background: $primary;
            height: 40px;
            text-align: center;
            line-height: 2;
            border-radius: 10px;
            a{
                color: $base-color;
                text-decoration: none;
            }
        }
    }
}