.node--type-peticion-de-servicio{
    .formulario-ofertar, .formulario-adjudicar {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        border: solid;
        padding: 20px;
        width: 40%;
        height: 100vh;
        z-index: 103;
        overflow-y: auto;
        #edit-closer--3, #edit-closer--4{
            border-radius:10px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
            cursor: pointer;
            width: 150px;
            height: 30px;
        }
    }

}