.node--type-peticion-de-servicio{

    #block-webform{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        border: solid;
        padding: 20px;
        width: 40%;
        height: 100vh;
        z-index: 103;
        overflow-y: auto;

    }
    #block-stapp-content{
        .node__content{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .field{
                &__label{
                    font-weight: bold; 
                    margin-right: 10px;
                    font-size: 0.8rem;
                }
                &__item{
                    font-size: 0.8rem;
                }
                &--type-text-with-summary{
                    font-size: 0.8rem;
                    text-align: justify;
                    color: $third;
                    padding: 20px;
                    width: 48%;
                }
                &--name-field-imagenes{
                    position: relative;
                    width: 48%;
                    .slick-prev{
                        background: $second;
                        color: $base-color;
                        border: none;
                        position: absolute;
                        top: 40%;
                        left: 10px;
                        z-index: 90;
                    }
                    .slick-next{
                        background: $second;
                        color: $base-color;
                        border: none;
                        position: absolute;
                        top: 40%;
                        right: 10px;
                        z-index: 90;
                    }
                }
                &--name-field-estado-de-la-validacion{
                    @extend %min-cards;
                }
                &--name-field-tipo-de-peticion{
                    @extend %min-cards;
                }
                &--name-field-orden-num{
                    @extend %min-cards;
                }

            }
        }
    }
}

//Views block styles
.service-order-view{
    margin-bottom: 20px;
    .view-content{
        .views-row{
            width: 30%;
            gap: 10px;
            justify-content: center;
            @media (max-width: 480px) {
                width: 80%;
            }
            .views-field-title{
                height: 60px;
                background: $primary;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 5px;
                border-radius: 5px;
                a{
                    color: $base-color;
                    font-size: 1rem;
                    text-decoration: none;
                }
            }
            .card{
                text-align: center;
                border-bottom: solid 2px $green-ligth;
                margin-bottom: 20px;
                .state{
                    background: $green-ligth;
                    color: $base-color;
                }
                .image{
                    height: 160px;
                    overflow: hidden;
                }
                .data{
                    height: 150px;
                    overflow: hidden;
                }
                .tipo{
                    background: $second;
                    color: $base-color;
                    text-align: center;
                }
            }

        }
    }
}
.form-item-servicio-a-ofertar, #edit-dueno-del-servicio--2{
    display: none;
}