.slider-main{
    width: 100%;
    .slick-slider{
        width: 99.8vw;
        position: relative;
        margin-left: -50vw;
        margin-top: 100px;
        left: 50%;
        height: calc(100vh - 100px);
        overflow: hidden;
        .slick-track{
            @media (min-width: 920px){
                margin-top: -200px;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .slick-next, .slick-arrow{
        display: none !important;
    }
}
#block-bloquesliders{
    position: absolute;
    top: 40vh;
    width: 40%;
    height: 150px;
    align-items: center;
    left: 30%;
    background: rgba($primary, 0.8);
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .field--name-field-subtitulo{
            color: $base-color;
            text-align: center;
            font-size: 1.8rem;
            text-transform: uppercase;
            width: 90%;
            line-height: 1;
        }
        .field--name-field-link{
            background: $third;
            color: $base-color;
            text-align: center;
            width: 50%;
            margin-top: 20px;
            cursor: pointer;
        }
    }
}