#block-views-block-mis-activos-block-1{
    background: $base-color;
    &.active{
        position: fixed;
        top: 20%;
        left: 10%;
        width: 80%;
        overflow: auto;
        z-index: 99;
        &::after{
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            background: rgba($primary, 0.8);
        }
    }
    td, th{
        background: $base-color;
    }
    .close{
        position: absolute;
        top: 34%;
        right: 1%;
        background: red;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}