.highlighted{
    position: relative;
}
#main{
    margin-top: 100px;
   
}
.main-content{
    width: 75%;
}
.loader-page{
    position: fixed;
    width:100% !important;
    height: 100vh;
    background:url(/themes/custom/stapp/images/bluetooth.png) center no-repeat, $third;
    width: 150px;
    left: 0;
    top: 0;
    z-index: 100;
}