$base-color: #fff;
$primary: #1a85c6;
$second: #1a1e30;
$third: #252734;
$green-ligth: chartreuse;


.title, h2, h1{
    color: $primary;
    text-transform: uppercase;
    font-size: 1.8rem;
    border-bottom: solid 1px;
    padding-left: 35px;
    background: url(/themes/custom/stapp/images/bluetooth.png) no-repeat left;
    background-size: 30px;
}

%min-cards{
    width: 30%;
    border: solid 1px $primary;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}