@import "variables";
@import "./components/*";
img{
    width: 100%;
    height: auto;
}
.field__label {
    background: $primary;
    color: $base-color;
    display: block;
    width: 100%;
    margin: 10px;
    font-weight: bold;
    border-bottom: solid 1px;
    padding: 5px;
    border-radius: 5px;
}
.field__item{
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}
